<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My hero</h4>
        <ul class="heroes">
          <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
            <span class="badge badge-secondary">{{hero.id}}</span> {{hero.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9" *ngIf="selectedHero">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Details</h4>
            <div>
              <label>id: </label>{{selectedHero.id}}
            </div>
            <div>
                <label>name: </label>
                <input [(ngModel)]="selectedHero.name" placeholder="name"/>
            </div>
          </div>
        </div>
  </div>
</div>