<header>
    <div class="logo-box">
        <a class="logo-name" href="#">Admin</a>
    </div>
    <div class="top-menu">
        <ul>
            <li>
                <a href="javascript:void(0)">
                    <fa [name]="'bars'"></fa>
                </a>
            </li>
            <li class="user-info">
                <div ngbDropdown placement="bottom-right">
                    <a href="javascript:void(0)" class="" id="dropdownBasic1" ngbDropdownToggle>
                        <span>Penguinbluechip</span>
                        <img class="rounded-circle" src="../assets/img/avatar/logo.jpg">
                    </a>
                    <div ngbDropdownMenu class="user-dropdown-menu">
                        <button class="dropdown-item">Thông tin cá nhân</button>
                        <button class="dropdown-item">Đổi mật khẩu</button>
                        <hr>
                        <button class="dropdown-item">Đăng xuất</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<nav>
    <li>
        <a href="#">Trang chủ</a>
    </li>
    <li>Giới thiệu</li>
</nav>
<main>
    <article class="container-fluid">
        <app-hero></app-hero>
    </article>
</main>
<footer>
    <p class="no-s">&copy; 2017 - mChien</p> 
</footer>